<meta name="keywords" content="linkinbio, b2l.ink, website, bio2link" />
<meta
	name="description"
	content="Bio2Link is a website to showcase your web presence with a single link "
/>
<meta name="copyright" content="Arjun Munji" />
<meta name="robots" content="index,follow" />
<meta name="revised" content="{% now 'l, F jS, o, P' %}" />
<meta
	name="summary"
	content="Bio2Link is a website to showcase your web presence with a single link "
/>
<meta name="author" content="name, arjunmunji+linkinbio@gmail.com" />
<meta name="owner" content="Arjun Munji" />
<meta name="url" content="http://b2l.ink/" />
<meta name="rating" content="General" />
