{% load static %}
<html data-theme="{{request.user.profile.get_theme|default:'dark'}}">
	<head>
		<title>Edit Profile | Bio2Link</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/1.10.0/full.css"
		/>
		<link rel="stylesheet" href="{% static 'css/themes.css' %}" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{% static 'images/apple-touch-icon.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{% static 'images/favicon-32x32.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{% static 'images/favicon-16x16.png' %}"
		/>
		<link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
	</head>

	<body>
		<div class="">
			<div class="navbar m-4 shadow-lg bg-neutral text-neutral-content rounded-box">
				<div class="flex-1 hidden px-2 mx-2 lg:flex navbar-start">
					<span class="text-lg font-bold"
						><a href="{% url 'home' %}">Bio2Link</a></span
					>
				</div>
				<div class="flex-auto hidden px-2 mx-2 navbar-center lg:flex">
					<div class="flex items-stretch">
						<textarea style="display: none" class="profile-link">
							http://b2l.ink/{{user.username}}</textarea
						>
						<a href="/{{user.username}}" target="_blank"
							><b>/{{ user.username }}</b>
						</a>
						<span class="btn btn-xs copy-profile-link"
							><small>COPY</small></span
						>
					</div>
				</div>
				<div class="flex-none cursor-pointer account-button px-2 mx-2">
					<div class="avatar">
						<div class="rounded-full w-10 h-10 m-1 ring ring-secondary ring-offset-base-100 ring-offset-2">
							<!-- <img src="https://i.pravatar.cc/500?img=32" /> -->
							<img src="/media/{{user.profile.image}}" alt="">
						</div>
					</div>
				</div>
			</div>

			<ul
				class="
					py-3
					shadow-lg
					bg-base-100
					rounded-box
					bg-base-200
					text-bg-primary-content
					hidden
					account-menu
					mx-4
					absolute
					float-right
				"
			>
				<li class="menu-title">
					<span>Account</span>
				</li>
				<li>
					<a href="mailto:arjunmunji@gmail.com">Need help?</a>
				</li>
				<li>
					<a href="#"
						>Changelog
						<div class="badge ml-2 success">3</div></a
					>
				</li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
				<li>
					<a href="#about">about ℹ</a>
					
				</li>
			</ul>
			<div class="float-right overflow-hidden absolute messages-container fade-out">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li class="alert alert-{{message.tags}} p-2 m-2">{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			{% block content %} {% endblock %}
		</div>
		
		<div id="about" class="modal">
			<div class="modal-box">
				<p>
					Bio2Link (<a href="http://b2l.ink" class="link">b2l.ink</a>) is
					a free website to show your presence all over the web with just one
					link. If you have any feedback, please let me know at
					<a href="mailto:arjunmunji+bio2link@gmail.com" class="link"
						>arjunmunji@gmail.com</a
					>.
				</p>
				<p>
					I hope you enjoy using this website as much as I had fun building
					it. Please consider donating if you can. Thank you 🙏
				</p>
				<div class="modal-action">
					<a
						href="https://www.buymeacoffee.com/arjunnn"
						class="btn btn-primary"
						target="_blank"
						>Buy me a coffee ☕</a
					>
					<a href="#" class="btn">Close</a>
				</div>
			</div>
		</div>
		<script>
			let accountButton = document.querySelector('.account-button')
			let accountMenu = document.querySelector('.account-menu')
			let copyProfileLinkButton = document.querySelector('.copy-profile-link')
			let fileUploadButton = document.querySelector('input#file-upload-button')

			if(fileUploadButton) {
				console.log(fileUploadButton)
				fileUploadButton.classList.add('btn')
			}

			'click focus'.split(' ').forEach(function (type) {
				accountButton.addEventListener(
					type,
					(event) => {
						accountMenu.classList.toggle('menu')
					},
					false
				)
			})
			copyProfileLinkButton.addEventListener('click', async (event) => {
				if (navigator.clipboard) {
					const profileLink = 'http://b2l.ink/{{request.user.username}}'
					await navigator.clipboard.writeText(profileLink)
				}
			})
			document.querySelectorAll('input[type="checkbox"]').forEach(el =>{
				el.classList.add('checkbox')
			})
		</script>
		
	</body>
</html>
