{% load static %}
<!DOCTYPE html>
<html data-theme="cupcake">
	<head>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{% static 'images/apple-touch-icon.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{% static 'images/favicon-32x32.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{% static 'images/favicon-16x16.png' %}"
		/>
		<link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/1.10.0/full.css"
		/>
		<link rel="stylesheet" href="{% static 'css/themes.css' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% include 'snippets/meta.html' %}
	</head>

	<body>
		<div class="flex flex-col h-screen justify-around items-center">
			<div class="flex flex-col justify-center items-center">
				<a href="/">
					<h1 class="mb-5 text-5xl font-bold text-primary">Bio2Link</h1>
				</a>
				<h3 class="mb-5 text-2xl font-bold text-secondary">
					The one link for all your links
				</h3>
			</div>
			<div class="flex-col justify-center hero-content lg:flex-row gap-20">
				<div class="text-center lg:text-left">
					<h1 class="mb-5 text-4xl font-bold">Hey 👋</h1>
					<p class="mb-5">Sign up and claim your <b>b2l.ink</b> name now!</p>
				</div>
				<div class="p-10 card bg-base-200">
					<div class="card-title">Sign up</div>

					<form class="form-control" method="POST">
						{% csrf_token %} {{ form.email }}
						<div class="my-6 indicator">
							<div class="indicator-item"></div>
							{{ form.username }}
						</div>
						{{ form.password }}
						<input
							type="submit"
							value="sign up"
							class="btn btn-wide btn-primary"
						/>
					</form>
					<p>
						Have an account?
						<a href="{% url 'login' %}" class="link">sign in</a>
					</p>
				</div>
			</div>
			<p>
				made with 💜 by <a href="https://arjun.ninja/" target="_blank">arjun</a>
			</p>
		</div>
		<script>
			const usernameField = document.querySelector('#id_username')
			const availabilityIndicator = document.querySelector('.indicator-item')
			const availabilityUrl = '/signup/check'

			const queryAvailability = (value) => {
				if (value != '' && value.length > 3) {
					fetch(`${availabilityUrl}/${value}`).then((response) => {
						availabilityIndicator.classList.add('badge')
						console.log(response)
						if (response.status == 204) {
							availabilityIndicator.innerText = '✔'
						} else {
							availabilityIndicator.innerText = '❌'
						}
					})
				}
			}
			usernameField.addEventListener('keyup', (event) => {
				availabilityIndicator.innerText = ''
				availabilityIndicator.classList.remove('badge')
				queryAvailability(event.target.value)
			})
			queryAvailability(usernameField.value)
		</script>
	</body>
</html>
